/* General CSS */
.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
}

/* CSS for section one */
.section-one {
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    background-color: #9F7E69;
    color: #F7FFE0;
    gap: 80px;
}

nav .header {
    font-family: "roboto", serif;
    align-items: center;
    font-size: 18px;
    display: flex;
    gap: 15px;
}

.logo {
    font-size: 24px;
    margin-right: auto;
}

.content-one {
    display: flex;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-main {
    width: 300px;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    width: 350px;
    color: #F2EFC7;
    font-size: 18px;
}

.image-one {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #D2BBA0;
}

button {
    color: #F7FFE0;
    background-color: #F79AD3;
    font-size: 18px;
    width: 120px;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    padding: 6px 10px;
}