/* General CSS */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
}

/* CSS for section one */
.section-one {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    background-color: #9F7E69;
    color: #F7FFE0;
    gap: 80px;
}

nav .header {
    font-family: "roboto", sans-serif;
    align-items: center;
    font-size: 18px;
    display: flex;
    gap: 15px;
}

.logo {
    font-size: 24px;
    margin-right: auto;
}

.content-one {
    display: flex;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "roboto", sans-serif;
}

.hero-main {
    width: 300px;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    width: 350px;
    color: #F2EFC7;
    font-size: 18px;
}

.image-one {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #D2BBA0;
    font-family: "roboto", sans-serif;
}

button {
    color: #F7FFE0;
    background-color: #F79AD3;
    font-size: 18px;
    width: 120px;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    padding: 6px 10px;
}

/* CSS for section two */
.section-two {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.section-two .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 36px;
    font-family: "roboto", sans-serif;
    color: #9F7E69;
    font-weight: 900;
}

.content-two {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 140px;
    gap: 6px;
}

.img-two {
    width: 100px;
    height: 100px;
    border: thick solid #F79AD3;
    border-radius: 8px;
}

/* CSS for section three */
.section-three {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F9F5F1;
}

.testimony {
    width: 750px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-family: "roboto", sans-serif;
    color: #9F7E69;
    font-size: 36px;
    font-style: italic;
}

.credit {
    align-self: flex-end;
    font-size: 24px;
    color: #9F7E69;
    font-weight: 900;
}

